/*TOPBAR1*/

.contenedor__topbar1{
    background-color: #272727;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 3px 5px rgba(255, 0, 255,.5);
}

.contenedor__topbar1-logo{
    flex-grow: 1;
}

.logo_topbar1{
    margin: 20PX;
    height: 100px;
    width: 100px;
}

.contenedor__topbar1-buscador{
    background-color: rgb(53, 53, 53);
    padding: 1vh 2vw;
    flex-grow: 4;
    border-radius: 10px;
    margin: 0 4vw;
    display: flex;
}


.buscador-topbar1{
    background-color: transparent;
    height: 3vh;
    width: 40vw;
    margin: 1vh 1vw;
    border: none;
    color: white;
    flex-grow:9;
}

.buscador-topbar1::placeholder{
    color: white;
    text-align: left;
}

.buscador-logo-topbar1{
    margin: 0 1vw;
    padding: 0 1vw;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    flex-grow: 1;
}



.contenedor__topbar1-item{
    flex-grow: 2;
    display: none;

}

.button-perfil{
    font-size: 20px;
    flex-grow: 1;
    padding: 0 1vw 0 0;
    cursor: pointer;
    color: var(--morado-neon);
    background-color: transparent;
    border: none;
    margin: 0 4vw;
}

/*boton registro login          -----------------reparar--------------*/

.boton_personalizado{
    display: none;
    position: relative;
    margin: -100px 0 0 0;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    z-index: 1000;

}


    /*FOCUSTOPBAR1*/

    .buscador-topbar1:focus{
        outline: none;
        }

    .contenedor__topbar1-buscador:focus-within{
        background-color: rgb(70, 70, 70) ;
    }

    .buscador-logo-topbar1:focus{
        outline: none;
        color: var(--morado-neon);
    }

    .button-perfil:focus{
        outline: none;
        color: rgba(255, 0, 191, 0.856);
    }

    
/*RESPONSIVE*/

@media screen and (max-width: 650px){

    /*TOPBAR1*/

    .contenedor__topbar1-logo{
        display:none;
    }

    .contenedor__topbar1-item{
        display: inline-block;
    }
}