*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --negro:#000000;
    --morado-neon: rgb(247, 0, 255);
}

body{
    background-color: rgb(44, 44, 44);
}
.contenedor_imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.contenedor_imagen{
    width: 18vw;
    height: auto;
    margin: 5px;
}