*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --negro:#000000;
    --morado-neon: rgb(247, 0, 255);
}

body{
    background-color: rgb(44, 44, 44);
    background-image: url(../../img/fondo.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}



/*  topbar  */

.contenedor__topbar1{
    background-color: rgb(15, 15, 15);
    height: 12vh;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0px 3px 5px rgb(255, 0, 255);
    display: flex;
}

.contenedor__topbar1-logo{
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
}

.logo_topbar1{
    display: block;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    height: 10vh;

}

.logo_topbar2{
    display:none;
}




/*body*/

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    position: relative;
    }

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: hsla(303, 100%, 50%, 0.425);
}

.caja__trasera div{
    margin:100px 40px;
    color: rgb(255, 255, 255);
    transition: all 500ms;
    text-align: center;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px ;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
background: rgb(255, 255, 255);
color: #000000;
}



/* ---------------formularios-------------------*/

/*color al pasar el mouse el login o register*/
.contenedor__login-register button:hover{
    background: #ff55ff;
    color:rgb(0, 0, 0);
}


.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 15px;
    transition: left 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 60px 20px;
    background-color: #525252;
    position: absolute;
    border-radius: 10px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.contenedor__login-register form input{
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background:#4b4b4b;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form input:focus{
    background-color: rgb(99, 99, 99);
    color: white;
}

.contenedor__login-register form input:focus-within{
    color: white;
}

.contenedor__login-register form input::placeholder{
    color: white;
}


.contenedor__login-register form p{
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.contenedor__login-register form button{
    padding:10px 40px;
    margin-top: 20px;
    font-size: 14px;
    background: rgb(255, 255, 255);
    color: #000000;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: -60px;
}

.caja-checkbox{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.caja-checkbox-checkbox{
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    width: 1vw;
    margin: 5px;
    flex-grow: 4;
}

.caja-checkbox-text{
    flex-grow:9;
}


.button-register{
    margin: 27%;
    margin-top: -10px;
    margin-bottom: -30px;
}

.button-login{
    margin: 32%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contenedor__login-register p{
    padding: 10px 10px;
    color: #ffffff;
}

.formulario__login{
    opacity: 1;
    display: block;
}



.formulario__register{
    display: none;

}

.table{
    margin-top: 10vh;
    background-color: #cc00b17c;
}




/*RESPONSIVE*/


@media screen and (max-width: 850px){

    /*TOPBAR1*/

.contenedor__topbar1-item{
    display:block;
}

    /*body*/

.contenedor__todo{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.caja__trasera{
    max-width: 350px;
    height:300px;
    flex-direction: column;
    margin: auto;
}

.caja__trasera div{
    margin: 0;
    position: absolute;
}

    /*formulario*/

.contenedor__login-register{
    top:-10px;
    left: -5px;
    margin: auto;
}

.contenedor__login-register form{
    position: relative;
}

.caja__trasera-login{
    opacity: 0;
}

}