<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
    <title>main</title>
    <!--ESTILOS-->
    <!--SCRIPT-->
</head>
    <body>
        <%- include('./partials/header'); %>
        <main>
            contact
        </main>
        <%- include('./partials/footer'); %>
    </body>
</html>