<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
    <title>gallery</title>
    <!--ESTILOS-->
    <!--SCRIPT-->
</head>
<body>
    <%- include('./partials/header'); %>
</body>
</html>