<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
        <title>inicio</title>
        <!--ESTILOS-->
        <!--SCRIPT-->
        <!--ESTILOS-->
        <script src='styles/js/styleindex.js'></script>
        <link rel="stylesheet" href='styles/css/index.css'>
        <!--SCRIPT-->
        <script src="scripts/index.js"></script>
    </head>
<body>
    <%- include('./partials/header'); %>
</body>
</html>