<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
    <title>Login</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href='styles/css/login.css'>
    <!--SCRIPT-->

</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>inicia sesion para subir tus imagenes</p>
                    <button id="btn__iniciar-sesion">Iniciar sesion</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesion</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
<!--Formulario de login y registro -->
            <div class="contenedor__login-register">
                <form action="/frminsertar" method="POST" class="formulario__register" >
                    <h2>Registrarse</h2>
                    <input type="text" id="nick" name="nick"  placeholder="Nick" class="input-48">
                    <input type="text" id="email" name="email" placeholder="Email" class="input-100" >
                    <input type="password" id="password" name="password" placeholder="Contraseña" class="input-48" >
                    <input type="password" id="confirmar_password" name="confirmar_password" placeholder="Repite la Contraseña" class="input-48">
                    <div class="caja-checkbox">
                        <div class="caja-checkbox-checkbox">
                            <input type="checkbox" name="confirmar_terms" class="checkbox_box">
                        </div>
                        <div class="caja-checkbox-text">
                            <p>Aceptar los <a style="color:rgb(255, 78, 225);" href="terms_conds.html">Términos y Condiciones</a></p>
                        </div>
                    </div>
                    <div class="button-register">
                        <button type="submit" name="BTNING">Registrarse</button>
                    </div>
                </form>
                <form action="" class="formulario__login">
                    <h2>Iniciar Sesion</h2>
                    <input type="text" placeholder="Correo Electronico" id="usuario">
                    <input type="password" placeholder="Contraseña" id="password">
                    <div class="button-login">
                        <button>Entrar</button>
                    </div>
                    <p >No te acuerdas de tu contraseña? <a style="color:rgb(255, 78, 225);" href="terms_conds.html"><br> click aqui</a></p>  <!--crear html para recuperar contraseña-->
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer'); %>
    <script src="styles/js/stylelogin.js"></script>
</body>

</html>