<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AndroGallery</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!--FONTS-->
    <script src="https://kit.fontawesome.com/e76a5c10f6.js" crossorigin="anonymous"></script>
    <!--NORMALIZE-->
    <link rel="stylesheet" href="styles/css/normalize.css">
    <!--TIPOGRAFIA-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--ESTILOS-->
    <link rel="stylesheet" href='styles/css/login.css'>
    <!--SCRIPT-->

</head>

<header>
    <nav>
        <div class="contenedor__topbar1">
            <div class="contenedor__topbar1-logo">
                <a href="/home">
                    <img class="logo_topbar1" src="img/logo_100px.png">
                </a>
            </div>
            <div class="contenedor__topbar1-buscador">
                <input class="buscador-topbar1" placeholder="Buscar Imagenes">
                <button class="buscador-logo-topbar1" href="#">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="contenedor__topbar2">

        </div>
        <div class="contenedor__responsive">

        </div>
    </nav>
</header>
<body>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>inicia sesion para subir tus imagenes</p>
                    <button id="btn__iniciar-sesion">Iniciar sesion</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesion</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
<!--Formulario de login y registro asd-->
            <div class="contenedor__login-register">
                <form action="/frminsertar" method="POST" class="formulario__register" >
                    <h2>Registrarse</h2>
                    <input type="text" id="nick" name="nick"  placeholder="Nick" class="input-48">
                    <input type="text" id="email" name="email" placeholder="Email" class="input-100" >
                    <input type="password" id="password" name="password" placeholder="Contraseña" class="input-48" >
                    <input type="password" id="confirmar_password" name="confirmar_password" placeholder="Repite la Contraseña" class="input-48">
                    <div class="caja-checkbox">
                        <div class="caja-checkbox-checkbox">
                            <input type="checkbox" name="confirmar_terms" class="checkbox_box">
                        </div>
                        <div class="caja-checkbox-text">
                            <p>Aceptar los <a style="color:rgb(255, 78, 225);" href="terms_conds.html">Términos y Condiciones</a></p>
                        </div>
                    </div>
                    <div class="button-register">
                        <button type="submit" name="BTNING">Registrarse</button>
                    </div>
                </form>
                <form action="" class="formulario__login">
                    <h2>Iniciar Sesion</h2>
                    <input type="text" placeholder="Correo Electronico" id="usuario">
                    <input type="password" placeholder="Contraseña" id="password">
                    <div class="button-login">
                        <button>Entrar</button>
                    </div>
                    <p >No te acuerdas de tu contraseña? <a style="color:rgb(255, 78, 225);" href="terms_conds.html"><br> click aqui</a></p>  <!--crear html para recuperar contraseña-->
                </form>
            </div>
            <div>
                <table border="1" class="table">
                    <thead>
                        <tr>
                            <th>Nick</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </main>
    <script src="styles/js/stylelogin.js"></script>
</body>

</html>