<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
        <title>Profile</title>
        <!--ESTILOS-->
        <link rel="stylesheet" href="styles/css/profile.css">
        <script src="styles/js/styleprofile.js"></script>
        <!--SCRIPT-->
        <script src="scripts/profile.js"></script>
    </head>
    <body>
        <%- include('./partials/header'); %>
        <main>
            <div>
                Bienvenido 
            </div>
        </main>
        <%- include('./partials/footer'); %>
    </body>
</html>