<% if(hecho) {%>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert.alert-succes.alert-dismissible.fade.show" role="alert">
                    <p>sirve</p>
                    <% hecho %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true"&times></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<% } %>