<link rel="stylesheet" href="/styles/css/partials/footer.css">
<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="/img/logo.png" class="w-50 logo-footer" >
                            <p>© 2021 AndrocatGo, AndroGallery </p>
                            <p>Tienes miedo? Solo hazlo</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> Mas sobre Androgallery</h6>
                        <p>Androgallery es un proyecto que busca que los usuarios puedan subir todo tipo de imagenes originales, tanto fanarts, edits, fotografias, dibujos etc, donde dara a conocer sus trabajos en esta cominadad creciente</p>
                        <a href="/signin" class="btn-footer"> LOGIN/SINGUP </a><br>
                        <a href="/terms" class="btn-footer"> terminos y condiciones</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6> Ayuda</h6>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="/"> inicio</a> </li>
                                    <li> <a href="/about"> About</a> </li>
                                    <li> <a href="/contact"> Contact</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                                <ul>
                                    <li> <a href="/terms"> Terms</a> </li>
                                    <li> <a href="/login"> LOGIN/SINGUP</a> </li>
                                    <li> <a href="https://paypal.me/AndrocatGo?locale.x=es_XC"> Paypal</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                    <h6> Redes Sociales</h6>
                    <div class="social">
                        <a href="https://twitter.com/AndrocatGo"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.twitch.tv/androcatgo"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                        <a href="https://github.com/AndrocatGOO"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                    <p class="final-foodbar"> © AndrocatGo, AndroGallery todos los derechos resevados 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
