<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="http://localhost:3000/styles/css/partials/footer.css">
<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="http://localhost:3000/img/logo_100px.png" class="w-50 logo-footer" >
                            <p>© 2021 AndrocatGo, AndroGallery </p>
                            <p>Tienes miedo? Solo hazlo</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> Mas sobre Androgallery</h6>
                        <p>Androgallery es un proyecto que busca que los usuarios puedan subir todo tipo de imagenes originales, tanto fanarts, edits, fotografias, dibujos etc, donde dara a conocer sus trabajos en esta cominadad creciente</p>
                        <a href="/signin" class="btn-footer"> LOGIN/SINGUP </a><br>
                        <a href="/terms" class="btn-footer"> terminos y condiciones</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6> Ayuda</h6>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="/"> inicio</a> </li>
                                    <li> <a href="/about"> About</a> </li>
                                    <li> <a href="/contact"> Contact</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                                <ul>
                                    <li> <a href="/terms"> Terms</a> </li>
                                    <li> <a href="/login"> LOGIN/SINGUP</a> </li>
                                    <li> <a href="https://paypal.me/AndrocatGo?locale.x=es_XC"> Paypal</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                    <h6> Redes Sociales</h6>
                    <div class="social">
                        <a href="https://twitter.com/AndrocatGo"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://discord.gg/P9Vf86AVat"><i class="fa fa-discord" aria-hidden="true"></i></a>
                        <a href="https://www.twitch.tv/androcatgo"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                        <a href="https://github.com/AndrocatGOO"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                    <form class="form-footer my-3">
                        <input type="text"  placeholder="Buscar Imagenes" name="search">
                        <button class="search_foodbar_button" href="#">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <p> © AndrocatGo, AndroGallery todos los derechos resevados 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>