<link rel="stylesheet" href="/styles/css/partials/header.css">
<header>
    <nav>
        <div class="contenedor__topbar1">
            <div class="contenedor__topbar1-logo">
                <a href="/home">
                    <img class="logo_topbar1" src="/img/logo_100px.png">
                </a>
            </div>
            <div class="contenedor__topbar1-buscador">
                <input class="buscador-topbar1" placeholder="Buscar Imagenes">
                <button class="buscador-logo-topbar1" href="#">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="contenedor__topbar1-items">
                <%  %>
                    <a href="/profile">
                        <button class="button-perfil">
                            <i class="fas fa-user"></i>
                        </button>
                    </a>
                    <a href="/logout">
                        <button class="button-perfil">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </a>
                <%    %>
                    <a href="/signin">
                        <button class="button-perfil">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </a>
                <%   %>
            </div>
        </div>
        <div class="contenedor__topbar2">

        </div>
        <div class="contenedor__responsive">

        </div>
    </nav>
</header>