<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
    <title>terms</title>
    <!--ESTILOS-->
    <!--SCRIPT-->

</head>
<body>
    <%- include('./partials/header'); %>
    
    <%- include('./partials/footer'); %>
</body>

</html>